* { 
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;

    height: 100%;   

    padding: 15px;  

    background: $primary-color url("/images/bg-intro-mobile.png") no-repeat top ;
    font-family: 'Poppins', sans-serif; 

}